body {
  background-color: rgb(235, 237, 239);
  margin: 0;
  padding: 0;
}
.side-bar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(60,75,100); 
  overflow-x: hidden;
  padding-top: 0px;
}
#sidebar-logo {
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebarlogodiv{
  background-color: rgb(48,60,84);
  width: 180px;
  height: 100px;
  position: relative;
  padding-top: 20px;
}

#sidebar-title {
  color: red;
  font-size: 40px;
  font-family: arial;
  margin: 0;
  padding: 6px 8px 6px 16px;
  text-align: center;
}
.side-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #171717;
  display: block;
  font-family: arial;
}
.side-bar a:hover {
  color: #f1f1f1;
}
main {
  margin-left: 180px;
  font-family: arial;
}
#cikis {
  color: red;
  transition: opacity 0.1s;
  padding: 0;
  width: 180px;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
#cikis:hover {
  opacity: 0.8;
}
.sidebaraltdiv{
  background-color: rgb(48,60,84);
  width: 180px;
  height: 50px;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.side-bar a {
  width: fit-content;
}

#title {
  text-align: center;
  color: red;
  font-family: arial;
  font-weight: bolder;
  color: rgb(255, 0, 195);
}
#container1 {
  margin: auto;
  display: block;
  width: 650px;

  padding-bottom: 40px;
}
.uploadNew {
  background-color: rgb(51,153,255);
  border: none;
  border-width: 3px;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#uplaodNew1 {
  height: 200px;
}
.uploadNewInput {
  color: white;
  font-weight: bold;
}
.subtitle {
  font-family: arial;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  color: white;
}
.minitext {
  display: inline-block;
  margin-left: 10px;
  font-family: arial;
  font-weight: bold;
  color: white;
  font-size: 18px;
  margin-bottom: 0;
}

.newSender {
  display: block;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  background-color:#2d2d2d;
  border: none;
  padding: 10px 22px 10px 22px;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.1s;
  margin-top: 50px;
}
.newSender:hover {
  opacity: 0.8;
}
.newSender:active {
  opacity: 0.6;
}

#textInputSideNew {
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  width: 300px;
  font-size: 15px;
  margin: 0;
}
#textInputSideNew:focus {
  outline: none;
}
#sideNewHR {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 115px;
}
#wrapper1MAIN{
  width: min-content;
  height: min-contents;
  margin-left: 20px;
}

#sendSideNew{
 
  display: block;
  margin: auto;
}
#sendMainNew{
  display: block;
  margin: auto;
  margin-top: 50px;
}