

.news-div{
  border: none;
  border-radius: 15px;
  width: 60%;
  height: auto;
  background-color: white;
  margin-left: 10%;
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 0;
}
.news-div-title{
  font-family: 'Poppins';
  font-size: 5vh;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 0;
  margin-top: 2%;
}
#footer{
  margin-top: 5% !important;
}
.news-div-main{
width: 40%;
height: fit-content;
margin-left: 4%;
margin-right: 4%;
margin-top: 2%;
display: inline-block;
margin-bottom: 2%;
vertical-align: top;
}

img{
  border: none;
  width: 100%;
  height: 100%;
  object-fit:fill;  
  cursor: pointer;
  border: none;
  border-radius: 7px;
}
.news-image{
  width: 100%;
  height: 25vh;
  margin: 0;
  transform: scale(1);
  transition: transform 0.2s;
  border: none;
  object-fit:fill;  
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.news-image:hover{
  transform: scale(1.05);
}
.news-div-text{
  font-family: arial;
  font-size: 2vh;
  text-align: left;
  width: 95%;
  margin-top: 2vh;
  height: max-content;
  margin-bottom: 2px;
}
.news-div-date{
  font-family: arial;
  opacity: 0.6;
  margin: 0;

}
.news-div-text-title{
  color: black;
  text-decoration: none;
  font-weight:bolder;
  font-family: 'Poppins';
  text-align: left;
  font-size: 2vh;
  margin-top: 5%;
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
  transition: color 0.2s;
  
}
.news-div-text-title:hover{
  color: red;  
}

  .news-div-main a:visited{ text-decoration: none;}
  .news-div-main a:link{text-decoration: none;}



.news-section-banner{
  width: fit-content;
  height: fit-content;
  float: right;
  margin-top: 8%;
  margin-right: 5%;
}

@media screen and (max-width: 850px){
  .news-div{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
  }
  .news-div-main{
    margin: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
  }  
  .news-section-banner{
    visibility: collapse;
    width: 0%;
  }

  .news-image{
    margin-top: 20vh;
  }

  .news-div-title{
    margin-bottom: -15vh;
  }
}


/*@media screen and (max-height: 800px){
  .topnav{
    height: 20px;
  }
  .topnav a{
    padding: 5px 60px;
    font-size: 10px;
  }
  .news-image{
    height: 200px;
  }
}*/


