body {
  background-color: rgb(241, 241, 241);
  margin: 0;
}
td {
  display: inline-block;
  vertical-align: middle;
}
.header-logo {
  width: 15%;
  height: auto;
  vertical-align: middle;
  transition: opacity 0.2s;
}
.header-logo:hover {
  opacity: 0.7;
}
a {
  text-decoration: none;
}

#header-caller {
  width: 100%;
  height: max-content;
  padding: 0;
  margin: 0;
}
#header-called {
  width: 100%;
}
.header-title {
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  color: black;
  transition: color 0.2s;
}
.header-title:hover {
  color: #ff3232;
}
#header-title-div {
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#header-title-bigfont {
  font-family: arial;
  font-size: 2.5vh;
}
.topnav {
  overflow: hidden;
  background-color: #005596;
  width: 100%;
  height: fit-content;
}
.topnav a {
  text-align: center;
  float: left;
  color: white;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 0.8vh;
  padding-bottom: 1vh;
  text-decoration: none;
  font-size: 18px;
  font-family: arial;
  font-weight: bolder;
  transition: color 0.15s, background-color 0.15s;
}

.topnav a:hover {
  background-color: #ff7979;
  color: black;
}
.topnav a:active {
  /*background-color: #04AA6D;*/
  color: white;
}
#brand-image {
  text-decoration: none;
}
div {
  flex: auto;
}
.news {
  float: left;
  flex: auto;
  transform: scale(1);
  transition: transform 0.2s;
}
.news:hover {
  transform: scale(1.05);
}


#side-new1 {
  margin-left: 5%;
  margin-top: 2%;
  width: 30%;
  height: 30vh;
  transition: opacity 0.2s;
}
#side-new1:hover {
  transform: scale(1);
  opacity: 0.8;
}
#sidenew1-img {
  height: 30vh;
}

#okulumuz {
  font-family: arial;
  font-weight: bold;
  color: #ff7979;
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
#main-new {
  margin-left: 6%;
  margin-top: 2%;
  width: 50%;
  height: 60vh;
  margin-bottom: 5%;
}

#side-new2 {
  margin-left: 5%;
  margin-top: 1%;
  width: 30%;
  height: 28vh;
  margin-bottom: 5%;
 
}
.side-new-2-text {
  color: black;
  font-family: arial;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 3vh;
}

.index-page-news-image {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 7px; 
}


#footer {
  width: 100%;
  height: auto;
  background-color: #9e9e9e;
  vertical-align: bottom;
  display: inline-block;
  margin-top: 2%;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
#footer-left {
  display: block;
  float: left;
  width: 78%;
}
#footer-right {
  display: block;
  float: right;
  width: 20%;
  margin-right: 2%;
}
#footer-right p {
  font-family: arial;
  font-weight: 200;
  cursor: default;
}
#footer-right #footer-about-title {
  font-weight: bold;
  color: #202020;
  font-size: 15px;
}
#footer-right #footer-about {
  font-size: 13px;
  color: #202020;
}
#footer-image-div {
  display: block;
}
#footer-image {
  width: 220px;
  height: auto;
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 0;
  text-align: left;
  cursor: default;
}
#footer-links {
  margin-top: 0;
  margin-left: 4%;
  padding: 0;
}
#footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-family: arial;
}
#footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 2vh;
  left: 0;
  color: white;
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
  font-family: arial;
}
#footer-links #link-1:before {
  content: none;
}
#footer-about {
  width: 100%;
}
@media screen and (max-width: 950px) {
  #main-new {
    margin: 0;
    width: 96%;
    border: none;
    /*height: 50vh;*/
    height: auto;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #side-new1 {
    margin: 0;
    width: 96%;
    text-align: center;
    border: none;
    /*height: 30vh;*/
    height: auto;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #sidenew1-img {
    width: 100%;
    height: auto;
  }
  #okulumuz {
    font-size: 35px;
  }

  #side-new2 {
    margin: 0;
    width: 96%;
    text-align: center;
    border: none;
    /*height: 30vh;*/
    height: auto;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .topnav {
    width: 100%;
    height: fit-content;
  }
  .topnav a {
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    padding: 1.5vh 0.6vh;
    text-align: center;
    vertical-align: baseline;
    line-height: 250%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2%;
  }
  .header-logo {
    width: 7vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-title {
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-title-bigfont {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
  }

  #footer {
    margin-top: 10vh;
    display: inline-block;
    width: 100%;
  }
  #footer-left {
    width: 100%;
    float: none;
    display: block;
    height: fit-content;
  }
  #footer-right {
    width: 100%;
    float: none;
    display: block;
    height: fit-content;
  }
  #footer-image {
    width: 30vh;
  }
  #footer-links a {
    display: block;
  }
  #footer-links #link-1:before {
    content: "|";
  }
  #footer-links {
    width: 50%;
  }
  #footer-about-title {
    margin-top: 4vh;
    width: 96%;
    margin-left: 4%;
  }
  #footer-about {
    width: 94%;
    margin-left: 4%;
    margin-right: 2%;
  }
}

/*@media screen and (max-height: 500px){
  #main-new{
    height: 300px;
  }
  #side-new1{
    height: 150px;
  }
  #side-new2{
    height: 135px;
  }
  .topnav{
    height: 20px;
  }
  .topnav a{
    padding: 5px 60px;
    font-size: 10px;
  }
}*/
