body{
  background-color: rgb(241, 241, 241);
  margin: 0;
}
td{
  display: inline-block;
  vertical-align: middle;

}
.header-logo{
  width: 15%;
  height: auto;
  vertical-align: middle;
  transition: opacity 0.2s;
}
.header-logo:hover{
  opacity: 0.7;
}

#header-caller{
  width: 100%;
  height: max-content;
  padding: 0;
  margin: 0;
}
#header-called{
  width: 100%;
}
.header-title{
  font-family: arial;
  font-size: 2vh;
  font-weight: bold;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  color: black;
  transition: color 0.2s;
}
.header-title:hover{
  color: #ff3232 ;

}
#header-title-div{
  display: inline-block;
  color: black ;
  text-decoration: none;
  cursor: pointer;
}
#header-title-bigfont{
 font-family: arial;
  font-size: 2.5vh;
}
.topnav{
  overflow: hidden;
  background-color: #005596;
  width: 100%;
  height: fit-content;
}
.topnav a{
  text-align: center;
  float: left;
  color: white;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 0.8vh;
  padding-bottom: 1vh;
  text-decoration: none;
  font-size: 18px;
  font-family: arial;
  font-weight: bolder;
  transition: color 0.15s,background-color 0.15s;
}
.topnav a:hover{
  background-color: #ff7979;
  color: black;
}
.topnav a:active{
  /*background-color: #04AA6D;*/
  color: white;
}
#brand-image{
  text-decoration: none;
}
div{
  flex: auto;
}
.news{  
  float: left;
  flex: auto;
  transform: scale(1);
  transition: transform 0.2s;
}
.news:hover{
  transform: scale(1.05);
}

#main-new{
  margin-left: 6%;
  margin-top: 2%;
  width: 50%;
  height: 60vh;
  margin-bottom: 5%;
}


#side-new1{
  margin-left: 5%;
  margin-top: 2%;
  width: 30%;
  height: 30vh;
}
#side-new2{ 
  margin-left: 5%;
  margin-top: 1%;
  width: 30%;
  height: 28vh;
  margin-bottom: 5%; 
}

.index-page-news-image{
  width: 100%;
  height: 100%;
  object-fit:fill;  
  cursor: pointer;
  border: none;
  border-radius: 7px;
}



@media screen and (max-width: 950px){
  #main-new{
    margin: 0;
    width: 96%;
    border: none;
    height: 50vh;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;   
  }

  #side-new1{
    margin: 0;
    width: 96%;
    text-align: center;
    border: none;
    height: 30vh;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;    
  }
  #side-new2{
    margin: 0;
    width:96%;
    text-align: center;
    border: none;
    height: 30vh;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;   

  }
  .topnav{
    width: 100%;
    height:fit-content;
  }
  .topnav a{
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    padding: 1.5vh 0.6vh;
    text-align: center;
    vertical-align: baseline;
    line-height:250%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2%;
  }
  .header-logo{
    width: 7vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-title{
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  #header-title-bigfont{
    font-size: 12pt;
    margin-top:0;
    margin-bottom: 0;
  }
}

/*@media screen and (max-height: 500px){
  #main-new{
    height: 300px;
  }
  #side-new1{
    height: 150px;
  }
  #side-new2{
    height: 135px;
  }
  .topnav{
    height: 20px;
  }
  .topnav a{
    padding: 5px 60px;
    font-size: 10px;
  }
}*/


