.new-bg{
  border: none;
  border-radius: 15px;
  width: 60%;
  height: fit-content;
  background-color: rgb(255, 188, 188);
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  display: inline-block;
}
.new-title{
  margin-left: 5%;
  margin-top: 2%;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 3.5vh;
}
.new-text{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 2.3vh;
  line-height: 3.5vh;
  color: rgb(0, 0, 0);
  text-align: left;
}
.image-new{
  text-align: center;
  width: 94%;  
  margin-left: 3%;
  margin-right: 3%;
  object-fit: fill;
}

@media screen and (max-width: 850px){
  .new-bg{
    width: 96%;
    height: max-content;
    margin-left: 2%;
    margin-right: 2% ;
  }
}